<h1>Index#login</h1>
<p>Find me in app/views/index/login.html.erb</p>
<p>This is the login page!</p>

<a href="<%=h @link %>">This is the Yahoo Login Link!</a>

<%= form_tag("/authorize", method: "get") do %>
  <%= label_tag(:code, "Input your authorization code here!:") %>
  <%= text_field_tag(:code) %>
  <%= submit_tag("Submit!") %>
<% end %>